#header {
  padding: 15px 0;
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .language-btn,
  .money-btn {
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    color: $dark-blue;
    .logo-img {
      display: inline-block;
      width: 38px;
      height: 38px;
      overflow: hidden;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
