/* Font Start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Font End */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom reset css */
a {
  text-decoration: none;
}

/* Custom reset css */
.bill-btn,
.waiter-btn {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 99;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bill-btn .text,
.waiter-btn .text {
  display: inline-block;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
.bill-btn .text::after,
.waiter-btn .text::after {
  width: 10px;
  height: 10px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  transform: translate(-50%, 0) rotate(45deg);
}
.bill-btn .icon,
.waiter-btn .icon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f0ad4e;
  box-shadow: 0px 4px 20px rgba(240, 173, 78, 0.25);
  padding: 10px;
}
.bill-btn .icon img,
.waiter-btn .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.waiter-btn {
  left: auto !important;
  right: 15px !important;
}
.waiter-btn .icon {
  background-color: #0275d8 !important;
  padding: 3px !important;
  box-shadow: 0px 4px 20px rgba(2, 117, 216, 0.25) !important;
}
.waiter-btn .icon img {
  margin-top: 10px;
}

#header {
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
#header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .language-btn,
#header .money-btn {
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
#header .language-btn img,
#header .money-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#header .logo {
  display: flex;
  align-items: center;
  color: #363c4b;
}
#header .logo .logo-img {
  display: inline-block;
  width: 38px;
  height: 38px;
  overflow: hidden;
  margin-right: 10px;
}
#header .logo .logo-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.alert-box {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #5cb85c;
  margin: 20px 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alert-box .image {
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.alert-box .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.alert-box .title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
.alert-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #363c4b;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.page-title:hover {
  color: #363c4b;
}
.page-title .icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 3px;
}
.page-title .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-item {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.product-item .product-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
  margin-bottom: 10px;
  position: relative;
}
.product-item .product-image .price {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-top-left-radius: 20px;
}
.product-item .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 300ms all;
}
.product-item .title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #363c4b;
}
.product-item:hover img {
  transform: scale(1.2);
}

.modal-body {
  position: relative;
}
.modal-body .btn-close {
  right: 15px;
  position: absolute;
}
.modal-body .image {
  width: 165px;
  height: 165px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal-body .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.modal-body .title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #363c4b;
  margin-left: 7px;
  margin-bottom: 10px;
}
.modal-body .tables {
  display: flex;
  flex-wrap: wrap;
}
.modal-body .tables input {
  display: none;
}
.modal-body .tables input:checked + label {
  background-color: #0275d8 !important;
  color: #fff;
}
.modal-body .tables label {
  width: calc(25% - 14px);
  height: 40px;
  border: 2px solid #0275d8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 7px;
}
.modal-body .btn-success {
  margin: 0 7px;
}
.modal-body .review-form {
  margin-top: 30px;
}
.modal-body .review-form input {
  display: none;
}
.modal-body .review-form label {
  cursor: pointer;
}
.modal-body .review-form label svg {
  width: 72px;
  height: 72px;
  object-fit: contain;
}
.modal-body .review-form label svg path:last-child {
  stroke: #f0ad4e !important;
}
.modal-body .review-form label svg.active path:last-child {
  fill: #f0ad4e;
}
.modal-body .stars {
  display: flex;
  justify-content: center;
}
.modal-body .big-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #363c4b;
  margin-bottom: 10px;
}
.modal-body .sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
  text-align: center;
  color: #363c4b;
}
.modal-body textarea {
  margin: 20px 0;
}